.row
{
    margin: auto;
}
.card-img-top
{
    width: 260pt;
    height: 140pt;
}
.card-title
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}